<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>error</title>
		<link rel="stylesheet" type="text/css" media="screen" href="${application.staticPath}/css/error.css">
	</head>
	
	<body>
		<div id="wrapper">
			<a class="logo" href="#"></a>
			<div id="main">
				<div id="header">
					<h1>
						<img class="icon" src="${application.staticPath}images/error_icon.png" alt="Warning, error">error !
					</h1>
				</div>
				<div id="content">
					<h2>您没有操作此项功能的权限，如果您还没有登录，可能需要登录才能操作！</h2>
					<div class="utilities">
						<!-- <input class="left" id="search" placeholder="search..." type="text"> -->
						<div class="button-container right">
							<a class="button" href="${application.contextPath}admin/login.vm">Go Back...</a>
						</div>
						<div style="clear: both"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>